@import "tailwindcss";

*{


  box-sizing: border-box;

}
body{
  font-family: 'montserrat', sans-serif;
  background-color:#F5F8F6;
  font-size: 14px;
  font-weight: 400;
}
.nav ul li a {
  position: relative;
  text-decoration: none;
  color: black; /* your logo color */
  padding: 5px 0;
  font-size: 14px;
}
.nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  
  background: #2B6536; /* your logo color */
  transition: width 0.3s ease, left 0.3s ease;
}
.nav ul li a:hover::after {
  width: 100%;
  right: 0;
}
button:hover{
  cursor: pointer;
  background-color: #2B6536;
  color:white
}
.dir{
  background:linear-gradient(65deg,rgba(223, 209, 212, 0.4),rgba(173,216,230,0.3));
}









/* ul li a{
  text-decoration: none;
  color: black;
} */
/* ul li:hover{
  cursor: pointer;
  background-color: #2B6536;
  color:white
  text-decoration: underline;
}
ul li::after{
  content: '';

} */